

.single-tweet{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: auto;
    background-color: #15202b;
    color: white;
    margin:1rem;
    padding:2px;
    
   
}
.tweet-data-container{
    height: auto;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
    margin-left:5rem;
    background-color:#15202b;
    color:rgb(219, 219, 219);
    padding:4px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
 
}
.like,.retweet{

    /* background-color:#6b7c8d; */
    height: 10%;
    display:flex;
    color:#ffffff;
    padding :1rem;
    align-items: center;
    background-color:#15202b;

    

}
.like>button{
    border: none;
    background-color: transparent;
    
}

.like:hover{
    
    color:#f91880;
   
}

.like:hover svg{
    fill:#f91880;
    background-color:rgba(249, 24, 128, 0.1);
    

    
}


.interactions{
    display: flex;
   margin-top: auto;
    height: 35px;
    width:100%;
    background-color: #15202b;
    
    align-items: center;
  
     

}

.load-not{
     visibility:hidden;

}


