.single-tweet{
    width: 62vw;
    height:30vh;
    background-color:wheat;
    
   
}
.tweet-data-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left:5rem;
 
}
.like,.retweet{

    padding:1rem;
    margin:0.2rem;

    

}
.interactions{
    display: flex;
    height: 3rem;
    background-color:rgb(95, 122, 95);
    align-items: center;
    justify-content: stretch;
    margin-left:5rem;


  
}

.load-not{
     visibility:hidden;

}