.app-container{
    width: 100vw;
    display: flex;
    
    flex-direction: row;
    flex: 1;
    
    background-color:rgb(33, 26, 26);
    height: 100vh;
    color: white;
}

.navbar-container{
    width: 15%;
    height: 100px;
    background-color: rgb(33, 26, 26);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main{
    /* margin: 1rem; */
    padding: 1rem;
    display:flex;
    width:100vw;
    align-items: center;
    /* justify-content: center;  */
    flex-direction: column;
    background-color:rgb(20, 20, 20);
}

.follow-recommend{
    display: flex;
    width:20%;
    /* margin:    1rem 0 0 0; */
    padding:  0 0  0 1rem;
    background-color: rgb(12, 30, 53);
}

.new-tweet{
    background-color:rgb(78, 17, 17);

}


.tweet{
    background-color:rgb(101, 101, 101); 
    
    width: 40vw;
    height: 100%;
    padding:10px;
}